
<div class="collection-collapse-block border-0 open">
    <h3 class="collapse-block-title" id="categoryToggleId">Category</h3>
    <div class="collection-collapse-block-content" id="categoryToggle">
        <div class="collection-brand-filter">
            <ul class="category-list">
                <li><a routerLink="/home/left-sidebarr/collection/women">Womens Fashion</a></li>
                <li><a routerLink="/home/left-sidebarr/collection/men">Mens Fashion</a></li>
                
            </ul>
        </div>
    </div>
</div>