
<div class="img-wrapper" *ngIf="product">
    <div class="lable-block">
        <span class="lable3" *ngIf="product.isNew">new</span>
        <span class="lable4" *ngIf="product.isSale">on sale</span>
    </div>
    <div class="front">
        <a [routerLink]="['/home/product/details' , product.id]">
            <img class="img-fluid" [src]="!variantImage ? product.pictures[0] : variantImage" alt="product image"></a>
    </div>
    <ul class="product-thumb-list">
        <li class="grid_thumb_img" *ngFor=" let variant of product.variants" [ngClass]="{'active' : variant.image === variantImage}">
            <a (click)="changeVariant(variant.images)">
                <img [src]="variant.images" >
            </a>
        </li>
    </ul>
    <div class="cart-info cart-wrap">
        <a title="Add to cart" (click)="addToCart()">
            <i class="ti-shopping-cart"></i>
        </a>
        <a title="Add to Wishlist"(click)="addToWhislist()">
            <i class="ti-heart" aria-hidden="true"></i>
        </a>
        
            <a title="View Derails" [routerLink]="['/home/product/details' , product.id ]"> 
            <i class="ti-search" aria-hidden="true"></i>
      </a>
        <a title="Compare" (click)="addToCompare">
            <i class="ti-reload" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="product-detail" *ngIf="product">
    <div>
       <bar-rating [rate]="4" [max]="5"></bar-rating>
<br />
        <a>
            <h6>{{product.name}}</h6>
        </a>
        <h4> {{product.price | currency :_productService?.currency : 'symbol'}}
            <del><span class="money">{{product.salePrice | currency :_productService?.currency : 'symbol'}} </span></del>
        </h4>
    </div>
</div>





