<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" routerLink="/home/shop"><a>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">collection</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <!-- Collection Sidebar -->
                <div class="col-sm-3 collection-filter">
                    <div class="coll_sidebar_sticky">
                        <div class="collection-filter-block">
                           <app-new-catogry></app-new-catogry>
                        </div>
                        <div class="collection-filter-block">
                            <app-brand [brands]="brands" (brandFilter)="updateBrandFilter($event)"></app-brand>
                            <app-color [colors]="colors"  (colorFilter)="updateColorFilter($event)"></app-color>
                            <app-price  (priceFilter)="updatePriceFilter($event)"></app-price>
                        </div>
                        <app-new-products></app-new-products>
                    </div>
                </div>
                <!-- End Collection Sidebar -->
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                   
                                        <img *ngIf="isMan"  src="assets/images/mega-menu/2.jpg" class="img-fluid" alt="">
                                        <img *ngIf="!isMan" src="assets/images/mega-menu/1.jpg" class="img-fluid" alt="">
                                        <div class="top-banner-content small-section">
                                            <h4>fashion</h4>
                                            <h5>SG MART</h5>
                                            <p>SG </p>
                                        </div>
                                    </div>
                                    <div class="collection-product-wrapper">
                                        <!-- Filter Block Products -->
                                        <div class="product-top-filter">
                                            <div class="container-fluid p-0">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="filter-main-btn">
                                                            <span class="filter-btn btn btn-theme">
                                                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="product-filter-content">
                                                            <div class="search-count">
                                                                <h5> Showing Products 1 - {{filterItems().length}} </h5>
                                                            </div>
                                                            <div class="collection-grid-view">
                                                                <ul>
                                                                    <li (click)="changeLayout(2)">
                                                                        <img src="assets/images/icon/2.png"
                                                                            class="product-2-layout-view">
                                                                    </li>
                                                                    <li (click)="changeLayout(3)">
                                                                        <img src="assets/images/icon/3.png"
                                                                            class="product-3-layout-view">
                                                                    </li>
                                                                    <li (click)="changeLayout(4)">
                                                                        <img src="assets/images/icon/4.png"
                                                                            class="product-4-layout-view">
                                                                    </li>
                                                                    <li (click)="changeLayout(6)">
                                                                        <img src="assets/images/icon/6.png"
                                                                            class="product-6-layout-view">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Block Products -->
                                        <!-- Display Products -->
                                        <div class="product-wrapper-grid">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xl-4  col-grid-box" 
                                                    *ngFor="let product of filterItems()">
                                                        <div class="product-box">
                                                            <app-product [product]="product"></app-product>
                                                        </div>
                                                        <!-- implement infinite Scroll -->
                                                        <div
                                                        class="search-results"
                                                        infiniteScroll
                                                        [infiniteScrollDistance]="1"
                                                        [infiniteScrollThrottle]="2000"
                                                        (scrolled)="onScroll()"
                                                        ></div>
                                                       
                                                    </div>
                                                    <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filterItems().length">
                                                        <img src="assets/images/empty-search.jpg"
                                                            class="img-fluid mb-4">
                                                        <h3>Sorry! Couldn't find the product you were looking For!!!
                                                        </h3>
                                                        <p>Please check if you have misspelt something or try searching
                                                            with other words.</p>
                                                        <a class="btn btn-solid" routerLink="/home/shop">continue
                                                            shopping</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-infinitescroll">
                                            <div class="theme-paggination-block">
                                                <div class="container-fluid p-0">
                                                    <div class="row">
                                                        <div class="text-center col-sm-12">
                                                            <div class="infinite-scrolling mt-4 mb-4 d-inline-block">
                                                                <img src="assets/images/loader.gif" *ngIf="filterItems().length && !finished">
                                                                <div class="loading-more active" *ngIf="filterItems().length && finished">No More Products</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Infinite Scroll -->