<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home/shop">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form class="theme-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text" formControlName="firstname" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['firstname'].touched && checkoutForm.controls['firstname'].hasError('required')"
                                        class="text text-danger">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls['firstname'].touched && checkoutForm.controls['firstname'].hasError('pattern')"
                                        class="text text-danger">
                                        First Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name </div>
                                    <input type="text" formControlName="lastname" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['lastname'].touched && checkoutForm.controls['lastname'].hasError('required')"
                                        class="text text-danger">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls['lastname'].touched && checkoutForm.controls['lastname'].hasError('pattern')"
                                        class="text text-danger">
                                        Last Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text" formControlName="phone" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['phone'].touched && checkoutForm.controls['phone'].hasError('required')"
                                        class="text text-danger">
                                        Phone No is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls['phone'].touched && checkoutForm.controls['phone'].hasError('pattern')"
                                        class="text text-danger">
                                        Phone No is must be number.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" formControlName="email" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['email'].touched && checkoutForm.controls['email'].hasError('required')"
                                        class="text text-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls['email'].touched && checkoutForm.controls['email'].hasError('email')"
                                        class="text text-danger">
                                        Invalid Email
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select formControlName="country">
                                        <option value="" selected>Select Country</option>
                                        <option value="1">India</option>
                                        <option value="2">USA</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls['country'].touched && checkoutForm.controls['country'].hasError('required')"
                                        class="text text-danger">
                                        Country is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address</div>
                                    <input type="text" formControlName="address" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['address'].touched && checkoutForm.controls['address'].hasError('required')"
                                        class="text text-danger">
                                        Address is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls['address'].touched && checkoutForm.controls['address'].hasError('maxlength')"
                                        class="text text-danger">
                                        Maximum 50 character
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Town/City</div>
                                    <input type="text" formControlName="town" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['town'].touched && checkoutForm.controls['town'].hasError('required')"
                                        class="text text-danger">
                                        City is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">State</div>
                                    <input type="text" formControlName="state" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['state'].touched && checkoutForm.controls['state'].hasError('required')"
                                        class="text text-danger">
                                        State is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Postal Code</div>
                                    <input type="text" formControlName="postalcode" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls['postalcode'].touched && checkoutForm.controls['postalcode'].hasError('required')"
                                        class="text text-danger">
                                        Postalcode is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf="checkOutItems.length">
                                        <li *ngFor="let item of checkOutItems">
                                            {{item.product.name}} X {{item.quantity}}
                                            <span>
                                                {{ (item.product.price * item.quantity ) | currency :
                                                _productsService?.currency : 'symbol'}}
                                            </span>
                                        </li>
                                    </ul>

                                    <ul class="qty" *ngIf="!checkOutItems.length">
                                        <li class="empty-checkout">There is no items i cartlist</li>
                                    </ul>
                                    <ul class="sub-total" *ngIf="checkOutItems.length">
                                        <li>SubTotal <span class="count"> {{ getTotal() | async | currency :
                                                _productsService?.currency : 'symbol'}}</span></li>
                                        <li>
                                            Shipping Amount <div class="shipping">
                                                <div class="shopping-option"><span>{{ shippingAmount | currency :
                                                        _productsService?.currency : 'symbol'}}</span></div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="total" *ngIf="checkOutItems.length">
                                        <li>
                                            Total <span class="count"> {{ totalAmount  | currency :
                                                _productsService?.currency : 'symbol'}}</span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="payment-box" *ngIf="checkOutItems.length">
                                    <div class="form-button">
                                        <button class="btn btn-solid" type="submit"
                                            [disabled]="!checkoutForm.valid">Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>