<div class="title1 section-t-space">
    <h4>exclusive products</h4>
    <h2 class="title-inner1">special products</h2>
</div>
<section class="section-b-space p-t-0">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="theme-tab">
                    <ul class="tabs tab-title">
                        <li class="current">
                            <a href="tab-1">New Products</a>
                        </li>
                        <li class="">
                            <a href="tab-2">Best Sellers</a>
                        </li>
                    </ul>
                    <div class="tab-content-cls">
                        <div class="tab-content" id="tab-1">
                            <div class="no-slider row">
                                <div class="product-box" *ngFor="let product of products | slice:16:24" >
                                    <app-product [product]="product"></app-product>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content"  id="tab-2">
                            <div class="no-slider row">
                                <div class="product-box" *ngFor="let product of products | slice:24:30" >
                                    <app-product [product]="product"></app-product>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>